### Colours ###
*background:   #0d1a20
*foreground:   #f8f8f2
*color0:       #0d1a20
*color1:       #1db2c2
*color2:       #1780b2
*color3:       #0552aa
*color4:       #9198b5
*color5:       #3c11aa
*color6:       #a3288e
*color7:       #f8f8f2
*color8:       #495357
*color9:       #1db2c2
*color10:      #1780b2
*color11:      #0552aa
*color12:      #9198b5
*color13:      #3c11aa
*color14:      #a3288e
*color15:      #f8f8f2
