
### Colours ###
*background:   #282828
*foreground:   #ebdbb2
*color0:       #282828
*color1:       #cc241d
*color2:       #98971a
*color3:       #d79921
*color4:       #458588
*color5:       #b16286
*color6:       #689d6a
*color7:       #a89984
*color8:       #928374
*color9:       #fb4934
*color10:      #b8bb26
*color11:      #fabd2d
*color12:      #83a598
*color13:      #d3869b
*color14:      #8ec07c
*color15:      #ebdbb2

### URxvt ###
URxvt.font: xft:FiraCode:style=Regular
URxvt.boldfont: xft:FiraCode:Style=SemiBold
URxvt.italicFont: xft:FiraCode:Style=Italic
URxvt.boldItalicFont: xft:FiraCode:Style=BoldItalic

URxvt.cursorUnderline: true
URxvt.scrollBar: false

URxvt.loginShell: true

URxvt.url-lauchner: google-chrome-stable
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
